DummyClient/Connected Services/TCPDecipher/DecipherService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Data.Interop" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Data.Interop" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:15330/DecipherService/DecipherService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ConnectionToken">
    <xs:sequence>
      <xs:element name="AppToken" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Data" nillable="true" type="q1:ArrayOfanyType" />
      <xs:element minOccurs="0" name="Infos" nillable="true" type="xs:string" />
      <xs:element name="Operation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserToken" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConnectionToken" nillable="true" type="tns:ConnectionToken" />
</xs:schema>